
#header-div {
    grid-area: header-div;
    border-radius: 9px;
    border: solid black 8px;    
}
#timer {
    grid-area: timer;
    font-weight: bold;
    font-size: 40px;
}
#test-text {
    grid-area: test-text;
    font-size: 50px;
    border-bottom: solid black 2px;
}
#highlight {
    font-weight: bold;
    grid-area: HL;
    font-size: 40px;
}
#user-answer {
    grid-area: user-answer;
    border-radius: 5px;
    background-color: transparent;
    padding: 12px 20px;    
    border: none;
    resize: none;
    text-align: center;
    outline: none;
    font-size: 24px;
    color: white;
    font-weight: bold;
}
#reset {
    grid-area: reset;
    height: 30px;
    width: 30%;
    justify-self: center;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    transition-duration: 0.4s;
    cursor: pointer;    
}
#reset:hover {
    background-color: #d9d9d9;
}
#progress {
    grid-area: prog;
    font-weight: bold;
}
#last-stats {
    grid-area: last-stats;
    font-weight: bold;
}
table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
  }
#total-stats{
    
    grid-area: total-stats;
    
}
#average-stats {
    grid-area: average-stats;
}
body {
    background-color: #f5aa42;
    
}
.container {
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    column-gap: 10px;
    grid-template-areas: 'header-div header-div'
    'header-div header-div'
    'timer timer'
    'test-text test-text'
    'HL HL'
    'user-answer user-answer'
    'reset reset'
    'prog prog'
    'last-stats last-stats'
    'average-stats total-stats'
    

}
